{
    "domain": "",
    "port": "",
    "discord": {
        "clientId": "",
        "clientSecret": "",
        "webhookUrl": "",
        "botToken": "",
        "roleId": "",
        "guildId": ""
    }
}
